

<html>

<head>
    <style>
        * {
        font-family:Calibri;
        }
    </style>
</head>

<body>
    <div style="height:10%"></div>

    <div style="align-content:center;height:40%">
        <img src="assets/images/Me.jpg" style="  height:100%;border-radius: 50%;box-shadow: 1px 1px 12px;display: block;margin-left: auto;margin-right: auto;"
             id="top_item">
    </div>
    <br>
    <div style="text-align:center;font-size:200%;height:5%" id="top_item">Roel Huijskens</div>
    <div style="text-align:center;"><i style="color:grey;height:15%;" id="top_item">Applied statistics graduate | Improving programming repertoire | IT trainee at APG (via Createment)</i></div>
    <hr width="50%" id="top_item">
    <br>
    <br>
    <br>




</body>
</html>
