<html>
<body>


    <div style="text-align:center" id="bottom_item">
        <h1>More</h1>
        <br>
        <i> This page contains some content I find particularly interesting </i>
        <hr style="width:75%">
    </div>


    <span class="flex-container_3" style="height:50%">
        <div id="right_item" style="max-width:40%">
            <h2>The chessboard puzzle</h2>
            Presented on the channel stand-up maths, two people are locked up in a cell and the warden provides them with a puzzle that will set them free if they can solve it. A chessboard is presented covered with all the same coins as positioned by the warden,
            the warden hides a key under one of the coins with only one of the two prisoners as a witness, this prisoner has to communicate the location of the key on the board to the other absent prisoner by turning over only 1 coin (H -> T or T -> H).
            the prisoners can discuss a strategy beforehand however the warden gets to listen in to that conversation and will try to counteract the strategy.

        </div>
        <div style="width:40%;height:60%">
            <iframe id="left_item" src="https://www.youtube.com/embed/as7Gkm7Y7h4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height:100%;width:70%;padding:0% 15% 0% 15%"></iframe>
        </div>
    </span>

    <hr style="width:75%" id="bottom_item">

    <span class="flex-container_3" style="height:50%">
        <div id="right_item" style="max-width:40%">
            <h2>The Outer Wilds</h2>
            This is a documentary detailing the development process of my favourite game of all time... The Outer Wilds. In this game you are an explorer of a tiny galaxy, however you are caught in a time loop and you have to find a way to reach the edge of
            the galaxy to break out of it. The exploration aspect and the unraveling the puzzles of each new planet really excited me, the only problem with this game is that you can only play it once. But I highly recommend you try it without knowing too much
            about it so only watch the spoiler free part of this documentary if you want to experience the game to it's fullest.

        </div>
        <div style="width:40%;height:60%">
            <iframe id="left_item" src="https://www.youtube.com/embed/LbY0mBXKKT0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height:100%;width:70%;padding:0% 15% 0% 15%"></iframe>
        </div>
    </span>




</body>
</html>