<html>
<body>


    <div style="text-align:center" id="bottom_item">
        <h1>More</h1>
        <br>
        <i> This page contains some content I find particularly interesting </i>
        <hr style="width:75%">
    </div>


    <span class="flex-container_3" style="height:50%">
        <div id="right_item" style="max-width:40%">
            <h2>The chessboard puzzle</h2>
            Presented on the channel stand-up maths, two people are locked up in a cell and the warden provides them with a puzzle that will set them free if they can solve it. A chessboard is presented covered with all the same coins as positioned by the warden,
            the warden hides a key under one of the coins with only one of the two prisoners as a witness, this prisoner has to communicate the location of the key on the board to the other absent prisoner by turning over only 1 coin (H -> T or T -> H).
            the prisoners can discuss a strategy beforehand however the warden gets to listen in to that conversation and will try to counteract the strategy.
                
        </div>
        <div style="width:40%;height:60%">
        <iframe id="left_item" src="https://www.youtube.com/embed/as7Gkm7Y7h4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height:100%;width:70%;padding:0% 15% 0% 15%" ></iframe>
        </div>
    </span>


</body>
</html>