<html>
<body>

    <div style="text-align:center" id="bottom_item"><h1>Projects</h1></div>
    <hr style="width:25%" id="bottom_item">




    <br>
    <br>

    <div class="project_text" id="right_item">
        <a href="/RoelHuijskens.github.io/project/A_C_Covariance" style="text-decoration:none;color:black">
            <h2 id="project_title"> Incorporating polygenic scores in the twin model to estimate genotype-environment covariance </h2>
        </a>
        <p>
            This article is partly based on my bachelor project which I completed under the supervision of Prof. C.V. Dolan at the VU Biological psychology department. The article explores the statistical
            power of estimating of A-C covariance using the classical twin model extended with polygenic scores, which is not possible with the standard twin model. <a href="/RoelHuijskens.github.io/project/A_C_Covariance" style="color:grey"><i>more</i></a>


        </p>

        <i>Article, Behavioral Genetics, Structural Equation Modeling, R</i>


    </div>
    <br>
    <hr style="width:75%" id="bottom_item">

    <br>
    <br>

    <div class="project_text" id="right_item">
        <a href="/RoelHuijskens.github.io/project/bayesian_Regression_Shiny" style="text-decoration:none;color:black">
            <h2 id="project_title"> Bayesian regression with a gibss sampler made from scratch </h2>
        </a>
        <p>
            This shiny app will allow you to perform bayesian regression using a built-in R dataset or a dataset of your own. The backend of this app consists 
            off a homemade gibbs sampler, which is favorite university assignment i've ever gotten to do. It allows for you to peform multiple regression and allows
            you to specify the priors for your analysis. 

        </p>

        <i>Bayesian Regression, Shiny-WebApp, Multivariable analysis, R</i>


    </div>
    <br>
    <hr style="width:75%" id="bottom_item">





    <br>
    <br>

    <div class="project_text" id="right_item">
        <a href="/RoelHuijskens.github.io/project/neat_cars" style="text-decoration:none;color:black">
            <h2 id="project_title"> Self driving cars with NEAT</h2>
        </a>

        <p>
            This program uses the open-source NEAT module to teach the computer to navigate cars around a track. This program consists of 2 parts, a top-down car driving game implemented in Pygame
            and an evolutionary artificial neural network algorithm which takes as input 3 vision traces and it's surroundings and returns the control input for the car. <a href="/RoelHuijskens.github.io/project/neat_cars" style="color:grey"><i>more</i></a>
        </p>

        <i>Python, Evolutionairy Neural Network</i>

    </div>
    <br>
    <hr style="width:75%" id="bottom_item">




    <br>
    <br>
    <div class="project_text" id="right_item">
        <a href="/RoelHuijskens.github.io/project/tiktak_toe" style="text-decoration:none;color:black">
            <h2 id="project_title"> Tic tac toe</h2>
        </a>

        <p>
            This is my very first step in the realm of reinforcement learning. The program is a very simple tic tac toe implementation in Pygame, the computer uses a recursive algorithm to explore the total possible
            statespace and can subsequently be used with a policy function based on the expected value of all possible play options to make a move. <a href="/RoelHuijskens.github.io/project/tiktak_toe" style="color:grey"><i>more</i></a>
        </p>
        <i>Python, Reinforcement Learning</i>
    </div>
    <br>
    <hr style="width:75%" id="bottom_item">




    <br>
    <br>

    <div class="project_text" id="right_item">
        <a href="/RoelHuijskens.github.io/project/tetris_command" style="text-decoration:none;color:black">
            <h2 id="project_title"> Tetris in the command prompt</h2>
        </a>

        <p>
            One of my first creations in python, this script will allow you to play Tetris in your command prompt and will keep track of your scores. <a href="/RoelHuijskens.github.io/project/tetris_command" style="color:grey"><i>more</i></a>
        </p>
        <i>Python</i>
    </div>

    <br>
    <hr style="width:75%" id="bottom_item">




</body>
</html>